.header{
  padding: 0 48px;
  background: white;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.22);
  .menu{
    width: 100%;
    display: flex;

    li{
      list-style-type: none;
      padding: 14px;
      cursor: pointer;
      font-size: 14px;
      color: #cfc8d5;
    }
    li.active{
      color: #200d22;
      border-bottom: 3px solid #627af5;
      border-left: 3px solid white;
      border-right: 3px solid white;
    }
  }
}

::ng-deep .mat-snack-bar-container.server_error_message {
  padding-left: 50px;
  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  color: #000;
  background: white url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path opacity=".87" fill="none" d="M0 0h24v24H0V0z"/><path fill="red" d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm4.3 14.3c-.39.39-1.02.39-1.41 0L12 13.41 9.11 16.3c-.39.39-1.02.39-1.41 0-.39-.39-.39-1.02 0-1.41L10.59 12 7.7 9.11c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L12 10.59l2.89-2.89c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41L13.41 12l2.89 2.89c.38.38.38 1.02 0 1.41z"/></svg>') no-repeat 10px center;

}

.users{
  background: #f7f7f7;
  padding: 32px 48px 48px;
  //min-height: calc(100vh - 47px);
}

.bottom {
  position: fixed;
  height: 44px;
  width: 100%;
  left: 0;
  top: calc(100vh - 44px);
  background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, #F7F7F7 100%);
}


.box:nth-child(2n-1){
  background-color: rgba(0,0,0,0.05);
}

.box{
  display: inline-block;
  height: 100vh;
  width: 100%;
  position: absolute;
  transition: all .2s ease;
  top: 0;
  left: 0;
}


.box:hover p{
  bottom:0px;
  top:175px;
  opacity: 1;
  transition: all .2s ease;
  z-index: 2;
}



/* MEDIA QUERIES */
@media (max-width: 700px){
  .box{
    width: 50%;
  }

  .box:nth-child(2n-1){
    background-color: inherit;
  }

  .box:nth-child(4n),.box:nth-child(4n-3) {
    background-color: rgba(0,0,0,0.05);
  }

}

@media (max-width: 420px){
  .box{
    width: 100%;
  }

  .box:nth-child(4n),.box:nth-child(4n-3){
    background-color: inherit;
  }

  .box:nth-child(2n-1){
    background-color:rgba(0,0,0,0.05);
  }

}

.loader6{
  position: relative;
  width: 12px;
  height: 12px;

  top: 46%;
  top: -webkit-calc(50% - 6px);
  top: calc(50% - 6px);
  left: 46%;
  left: -webkit-calc(50% - 6px);
  left: calc(50% - 6px);

  border-radius: 12px;
  background-color: #aaf;
  -webkit-transform-origin:  50% 50%;
  transform-origin:  50% 50% ;
  -webkit-animation: loader6 1s ease-in-out infinite;
  animation: loader6 1s ease-in-out infinite;
}

.loader6:before{
  content: "";
  position: absolute;
  background-color: #627af5;
  top: 0px;
  left: -25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
}

.loader6:after{
  content: "";
  position: absolute;
  background-color: #627af5;
  top: 0px;
  left: 25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
}


@-webkit-keyframes loader6{
  0%{-webkit-transform:rotate(0deg);}
  50%{-webkit-transform:rotate(180deg);}
  100%{-webkit-transform:rotate(180deg);}
}

@keyframes loader6{
  0%{transform:rotate(0deg);}
  50%{transform:rotate(180deg);}
  100%{transform:rotate(180deg);}
}