<div class="app-users">
  <div class="header">
    <ul class="menu">
      <li [ngClass]="{active: filter == ''}" (click)="setFilter('')">Все</li>
      <li [ngClass]="{active: filter == '2'}" (click)="setFilter('2')">Заблокированые</li>
      <li [ngClass]="{active: filter == '0'}" (click)="setFilter('0')">Активные</li>
    </ul>
  </div>
  <div class="users" [@state]="state" (@state.start)="animationStarted($event)"
       (@state.done)="animationDone($event)">
    <app-user *ngFor="let user of currentUsers" [user]="user"></app-user>
  </div>
  <div class="bottom"></div>
  <div class="box" *ngIf="loading">
    <div class="loader6"></div>
  </div>
</div>


