.app-login {
  background: white;
}
.login-wrapper{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  .pass-wrapper{
    position: relative;
    color: #627af5;

    mat-icon{
      position: absolute;
      top: 24px;
      right: 0;
      cursor: pointer;
    }
  }
  .form-wrapper{
    width: 240px;
    input{
      width: 100%;
      height: 48px;
      margin: 12px;
      border-radius: 6px;
      border: 1px solid #ECEBED;
      padding: 6px 16px;
      background: white;
      box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    }
    input.login-button{
      border: none;
      background-color: #627af5;
      color: #fff;
    }
  }
}
