<div class="login-wrapper app-login">
  <div class="form-wrapper">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <input formControlName="login" type="text" placeholder="Active">
      <div class="pass-wrapper">
        <input formControlName="password" [type]="passwordType">
        <mat-icon *ngIf="passwordType === 'password'" (click)="switchPasswordView()">visibility</mat-icon>
        <mat-icon *ngIf="passwordType === 'text'" (click)="switchPasswordView()">visibility_off</mat-icon>
      </div>
      <input type="submit" class="login-button" value="ВОЙТИ">
    </form>
  </div>
</div>
