<div class="user-wrapper" (click)="openEditModal()">
  <div class="name">
    <div class="avatar">
      <img [src]="'https://frontend-test.cloud.technokratos.com'+user.avatar" alt="">
    </div>
    <span>{{user.fname}} {{user.name[0]}}. {{user.mname[0]}}.</span>
    <div class="balance">Баланс: {{user.balance | number : '0.1-2' }}</div>
  </div>

  <div class="updated-at">Последнее изминение: {{user.lastUpdatedAt | amLocale:'ru' | amTimeAgo }}
    <div class="status">
      <span>
        {{user.status == 0 ? 'Подписка активна' : ''}}
        {{user.status == 1 ? 'Подписка не активна' : ''}}
        {{user.status == 2 ? 'Подписка блокирована' : ''}}
    </span>

    </div>
  </div>
</div>

