.user-wrapper {
  display: flex;
  padding: 16px;
  background: #fff;
  margin: 16px 0;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  div {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .name {
    span{
      width: 160px;
    }
  }
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 20px;
    img {
      width: 100%;
      min-width: 48px;
      height: auto;
    }
  }
  .balance{
    width: 160px;
    text-align: right;
    justify-content: right;
  }
  .updated-at {
    color: #a7a7a7;
  }
  .status {
    width: 180px;
    color: #413656;
    text-align: right;
    margin-left: 30px;
    justify-content: end;
  }
}

