$border-color: #ECEBED;
$bg-color: #6979f8;

.modal {

  .modal-body {
    background: #fff;

    border-radius: 12px;
    .modal-header {
      height: 80px;
      padding: 0 24px;
      margin: -24px -24px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $border-color;
      mat-icon {
        color: $bg-color;
        font-size: 36px;
        cursor: pointer;
        width: auto;
        height: auto;
        transition: 0.70s;

      }
      mat-icon:hover {
        transition: 0.70s;
        transform: rotate(180deg);
      }
    }
    .modal-content {
      border: none;
      display: flex;
      height: 400px;
      ul {
        li {
          list-style: none;
          width: 33%;
          float: left;
          margin: 30px 0;
          input {
            border: 1px solid $border-color;
            padding: 0 8px;
            height: 48px;
            border-radius: 6px;
            font-weight: 300;
            box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
          }
          input:focus, select:focus {
            outline: none;
            border: 1px solid $bg-color;
          }
          mat-select {
            height: 48px;
            background-color: white;
            border: 1px solid $border-color;
            border-radius: 6px;
            width: 215px;
            padding-left: 12px;
            font-weight: 300;
            font-size: 15px;
            box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
            line-height: 48px;
          }
        }
      }
    }
    .modal-footer {
      border: none;
      padding: 22px;
      button {
        background-color: $bg-color;
        color: white;
        border: none;
        width: 180px;
        height: 40px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        float: right;
      }
      button:hover {
        background-color: white;
        color: #6979f8;
        border: 1px solid $bg-color;
      }
    }
  }
}

::ng-deep .mat-snack-bar-container.success_message {
  padding-left: 50px;
  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  color: #000;
  background: white url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path fill="green" d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>') no-repeat 10px center;
}

::ng-deep .mat-snack-bar-container.error_message {
  padding-left: 50px;
  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  color: #000;
  background: white url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path opacity=".87" fill="none" d="M0 0h24v24H0V0z"/><path fill="red" d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm4.3 14.3c-.39.39-1.02.39-1.41 0L12 13.41 9.11 16.3c-.39.39-1.02.39-1.41 0-.39-.39-.39-1.02 0-1.41L10.59 12 7.7 9.11c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L12 10.59l2.89-2.89c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41L13.41 12l2.89 2.89c.38.38.38 1.02 0 1.41z"/></svg>') no-repeat 10px center;
}

.box:nth-child(2n-1) {
  background-color: rgba(0, 0, 0, 0.05);
}

.box {
  display: inline-block;
  height: 100vh;
  width: 100%;
  position: absolute;
  transition: all .2s ease;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.box:hover p {
  bottom: 0px;
  top: 175px;
  opacity: 1;
  transition: all .2s ease;
  z-index: 2;
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
  .box {
    width: 50%;
  }

  .box:nth-child(2n-1) {
    background-color: inherit;
  }

  .box:nth-child(4n), .box:nth-child(4n-3) {
    background-color: rgba(0, 0, 0, 0.05);
  }

}

@media (max-width: 420px) {
  .box {
    width: 100%;
  }

  .box:nth-child(4n), .box:nth-child(4n-3) {
    background-color: inherit;
  }

  .box:nth-child(2n-1) {
    background-color: rgba(0, 0, 0, 0.05);
  }

}

.loader6 {
  position: relative;
  width: 12px;
  height: 12px;

  top: 46%;
  top: -webkit-calc(50% - 6px);
  top: calc(50% - 6px);
  left: 46%;
  left: -webkit-calc(50% - 6px);
  left: calc(50% - 6px);

  border-radius: 12px;
  background-color: #aaf;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: loader6 1s ease-in-out infinite;
  animation: loader6 1s ease-in-out infinite;
}

.loader6:before {
  content: "";
  position: absolute;
  background-color: #627af5;
  top: 0px;
  left: -25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
}

.loader6:after {
  content: "";
  position: absolute;
  background-color: #627af5;
  top: 0px;
  left: 25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
}

@-webkit-keyframes loader6 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@keyframes loader6 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}