<form (ngSubmit)="closeAndSave($event, data.user.id)" [formGroup]="editForm">
  <div class="modal">
    <div class="modal-body">
      <div class="modal-header">
        <h2>{{data.user.fname}} {{data.user.name}}</h2>
        <mat-icon (click)="cancelEdit()">close</mat-icon>
      </div>
      <div class="modal-content">
        <ul>
          <li><input type="text" formControlName="fname" title=""/></li>
          <li><input type="text" formControlName="name" title=""/></li>
          <li><input type="text" formControlName="mname" title=""/></li>
          <li>
            <mat-select placeholder="Статус" formControlName="status">
              <mat-option  [value]="0">Падписка активен</mat-option>
              <mat-option  [value]="1">Падписка не активен</mat-option>
              <mat-option  [value]="2">Падписка блокирована</mat-option>
            </mat-select>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="submit" class="blue-button">Сохранить</button>
      </div>
    </div>
  </div>
</form>

<div class="box" *ngIf="loading">
  <div class="loader6"></div>
</div>