/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url(assets/fonts/SFUIText-Regular.ttf);
}

body{
  font-family: 'SF Pro Text', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  background: #f7f7f7;
}
